<!DOCTYPE html> 
<html lang = "en">

    <meta charset="utf-8">
    <title>Cat Care</title>

<body>

    <div id="header"></div>
        <div class="content-with-menu">
            <div id="side-menu-placeholder"></div>
            <main class="content">
            <h3>Taking care of a cat may seem difficult. <br><br>
                But don't you worry, everything you need to know can be found just below!</h3><br><br>
            <a href="https://www.wikihow.com/Take-Care-of-a-Cat">Steps of How to Take Care of a Cat - by wikihow.pet</a><br><br>
            <a href="https://www.aspca.org/pet-care/cat-care/cat-grooming-tips">Useful Grooming Tips for Cats - by aspca.org</a><br><br>
            <a href="https://www.aspca.org/pet-care/cat-care/cat-nutrition-tips">Nutrition Tips for All Sorts of Cats - by aspca.org</a>
        </main>
    </div>
<div id="footer"></div>

</body>

</html>