
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
</head>
<header>
    <table width="100%">
        <tr>
            <td><a href="/"><img src="/images/petpalace.jpg" alt="Pet Adoption Logo" class="logo"></a></td>
            <td id="petPalace"><h1>Pet Palace</h1></td>
            <td id="time"></td>
        </tr>
    </table>
</header>
<nav class="side-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/find">Find a Dog/Cat</a></li>
        <li><a href="/dog-care">Dog Care</a></li>
        <li><a href="/cat-care">Cat Care</a></li>
        <li><a href="/create-account">Create an Account</a></li>
        <li><a href="/give-away">Have a Pet to Give Away</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="#" onclick="handleLogout()">Log Out</a></li>
    </ul>
</nav>

