<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>Home Page</title>

<body>
    <div id="header"></div>
        <div class="content-with-menu">
            <div id="side-menu-placeholder"></div>
            <main class="content">
                <h2>Welcome to Pet Palace!</h2>
                <p>This is the home page. Here you can find all the information you need about adopting a pet.</p>
                <p>You can browse available pets, find a dog or a cat, seek help with dog or cat care, and give away a pet for adoption!</p>
                <p>For more information, feel free to contact us!</p>
            </main>
        </div>
    <div id="footer"></div>

</body>
</html>
